<carousel [noPause]="false" [isAnimated]="true">
    <slide>
        <img src="assets/images/cake2.jpg" alt="slide" style="display: block; width: 100%; height: 660px;">
    </slide>
    <slide>
        <img src="assets/images/cake3.jpg" alt="slide" style="display: block; width: 100%; height: 660px;">
    </slide>
    <slide>
        <img src="assets/images/cake4.jpg" alt="slide" style="display: block; width: 100%; height: 660px;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Mama's Homemade Bakery !</h1>
    </div>
</section>